$zelena_tamna: #206a5d;
$zelena: #81b214;
$zelena_svetla: #bfdcae;
$zelena_svetlija: #f1f1e8;
$crvena: #ff4b5c;

$Fredoka_one: 'Fredoka One', cursive;
$roboto: 'Roboto', sans-serif;

// 	Zelena tamna: 		#206a5d
// 	Zelena:				#81b214
// 	Zelena svetla:		#bfdcae
// 	Zelena svetlija:	#f1f1e8
// 	Crvena:				#ff4b5c

// WEB FONTOVI:
// 	Roboto (Regular 400)		-	Tekst
// 	Fredoka One (Regular 400) 	- 	Logo i naslovi
